header {
    background-image: url("../assets/header_bg.jpg");
}
header h1 {color: aliceblue}

//  carousel

.carousel-box {
    border: 2px solid gray;
}

.carousel-content {
    min-height: 200px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #ca3333;
    border-radius: 50%;
    padding: 10px;
}
